.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus,
.dropdown-menu li a:hover {
	box-shadow: -5px 0px 0px 0px #803F9B,220px 0px 0px 0px #8e44ad inset;
}
.blog-tags li:hover {
	box-shadow: inset 0 -120px #8e44ad;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus,
.dropdown-menu li a:hover,
.top,
.tp-leftarrow.default, .tp-rightarrow.default, #slidecontrol-prev, #slidecontrol-next,
#myTab .active a, #myTab li a:hover,
.team:hover .id, .skill,
#blog .posting.hover-active .get,
.portfolio-block .get:hover,
.hover .get:hover,
.button:hover,
.dates,.post-title-icon, .stylish-button, .post-excerpt:after,
.post-info, .post-hover,
.bg,
.contact-details h1,
input[type="submit"],
.widget-tags li a,
.ui-accordion-header span,
#qt .pager a.selected, #home-slide .pager a.selected{
	background-color: #8e44ad;
}
.ui-accordion-header-active span,
.ui-accordion-header:hover span,
.widget-tags li a:hover {
	background-color: #803F9B;
}
.details{
	background-color: rgba(142, 68, 173, 0.5);
}
.tab-border li.active a:after,
.portfolio-block .get, .hover .get,
.portfolio-block .get:after, .hover .get:after,
.post-title h3:hover .post-title-icon:after,
.contact-details h1:after, .contact-details h1:hover{
	box-shadow: 0 0 0 3px #8e44ad;
}
.button:after{
	box-shadow: 0 0 0 2px #8e44ad;
}
a,
.color,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus,
.tab-border li a, #myTab li.active a::before, #myTab li .active a:hover::before, #myTab li a:hover::before,
.team-name,
#filters ul li span:hover, #filters ul li span.active,
.portfolio-block .get, .hover .get, .portfolio-block .title,
.button,
.highlight,
.contact-details h1:hover,
.contact-details h2,
.footer .fa,
.team-social li a:hover,
.blog-tags a, .blog-tags .date, .commentlists .comment-body .comment-meta .reply a,
.search-widget input[type="search"], #searchform input[type="text"], .search-widget button i,
.blog-tags li a i,.meta-name a{
	color: #8e44ad;
}
a:hover,
.blog-tags li a:hover{
	color: #803F9B;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus,
.dropdown-menu li a:hover,
.team,
.button,
.milestone-counter,
.border:after,
.post:hover,
input[type="submit"],
.image-polaroid .img-circle, .comment-body:hover,
.commentlists .comment-children li:hover .img-circle, 
.comment-title:after,
blockquote,
.search-widget input[type="search"]:focus, #searchform input[type="text"]:focus,
.blog-tags li:hover,
#qt .pager a, #home-slide .pager a{
	border-color: #8e44ad !important;
}
.comment-body:hover:before,.right:hover:before{
	border-right: 15px solid #8e44ad;
}
.bg, .bg:hover{
	color: #252525;
	border: none;
}